<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Blog</h1>

    <ul>
        {% for entry in posts: %}
            {% if entry["id"] == 2: %}
            <li>{{ entry["title"] }}: {{ entry["subtitle"] }}</li>
            {% endif %}
        {% endfor %}
    </ul>
</body>
<footer>
    <p>©{{ cp_year }}</p>
</footer>
</html>