<!DOCTYPE HTML>
<html>

<head>
    <title>Matthias Engelien</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link type="image/x-icon" rel="icon" href="static/favicon.ico" />

    <link rel="stylesheet" href="static/assets/css/main.css" />

    <noscript>
        <link rel="stylesheet" href="static/assets/css/noscript.css" />
    </noscript>
</head>

<body class="is-loading">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <section id="main">
            <header>
                <span class="avatar"><img src="static/images/avatar.jpg" alt="" width="122" /></span>
                <h1>Matthias Engelien</h1>
                <p>Softwareentwickler und Datenanalyst</p>
            </header>
            
            <footer>
                <ul class="icons">
                    <li><a href="https://twitter.com/nurmatthias" class="fa-twitter">Twitter</a></li>
                    <li></li>
                    <li><a href="https://github.com/nurmatthias" class="fa-github">GitHub</a></li>
                </ul>
            </footer>
        </section>

        <footer id="footer">
            <ul class="copyright">
                <li>&copy; Matthias Engelien</li>
            </ul>
        </footer>

    </div>

    <script>
        if ('addEventListener' in window) {
            window.addEventListener('load', function () { document.body.className = document.body.className.replace(/\bis-loading\b/, ''); });
            document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
        }
    </script>

</body>

</html>